html,
#root {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  background-color: #f3f0dd;
}

.row {
  margin: 0;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #749541;
}

.jumbotron {
  background-color: #749541;
  display: block;
  color: #ffffff;
  margin-bottom: 15px;
  border-bottom: 2px solid #2c3e50;
}

.main {
  margin-bottom: 10%;
}

@media screen and (max-width: 600px) {
  .main {
    margin-bottom: 60%;
  }
}

.btn-primary,
.btn-secondary {
  border: none;
  background-color: #749541;
  color: #ffffff;
}

/* .btn-primary:focus */
.btn-primary:hover,
.btn-secondary:hover {
  background-color: #8eb94e;
  color: #ffffff;
  box-shadow: none;
  outline: none;
}

.submit,
.delete.add-card,
.delete_recipe {
  border: none;
  text-decoration: none;
  background-color: #ec0b43;
  color: #ffffff;
}

/* .submit:focus */
.submit:hover,
.delete:hover,
.delete_recipe:hover {
  background-color: #ed2154;
  color: #ffffff;
  box-shadow: none;
  outline: none;
}

.delete {
  float: left;
}

#height {
  width: 49%;
  margin-left: 1px;
  margin-right: 1px;
}
/*  */
.add-card,
.add-panel.card,
.patient-card,
.edit-patient {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
}



.add-card,
.card,
.add-patient,
.progtrckr-todo::before,
.multi-step,
.footer-buttons,
.edit-patient {
  background-color: #2c3e50;
}

.progtrckr-doing {
  color: rgb(96, 195, 228) !important;
}

.progtrckr-todo,
.progtrckr-done {
  color: #f3f0dd !important;
}

.input-wizard {
  background-color: #f3f0dd;
  color: #2c3e50;
  border-radius: 5px;
  height: 2em;
  line-height: inherit;
}

.steppy {
  padding: 3%;
  color: #f3f0dd;
}

.patient-panel {
  color: #f3f0dd;
}

ol.progtrckr,
li.progtrckr-todo:before {
  background-color: #2c3e50 !important;
}

li.progtrckr-doing:before {
  background-color: #2c3e50 !important;
  color: #f3f0dd !important;
  border: 1px solid #f3f0dd;
}

ol.progtrckr,
li.progtrckr-todo {
  color: #f3f0dd !important;
}
.progtrckr-doing {
  border-bottom: 4px solid #f3f0dd !important;
}

li.progtrckr-todo {
  border-bottom: 4px solid #f3f0dd !important;
}

@media screen and (max-width: 500px) {
  .add-panel,
  .patient-panel,
  .edit-patient {
    margin-top: 30px;
    margin-bottom: 200px;
    padding: 10px;
  }
}
