html,
#root {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Quattrocento', serif;
  position: relative;
  margin: 0;
  min-height: 100%;
  background-color: #F6F5F4;
}

h1, h2, h3, h4, h5, h6, button {
  font-family: 'Quattrocento Sans', sans-serif;
}

.abttru {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
}

.main {
  flex-grow: 1;
}

.login-form {
  width: 90%;
}

label {
  font-size: 0.85rem;
}

.jumbotron {
  padding: 1rem;
  position: relative;
  background-color: #7CB441;
  display: block;
  color: #fff;
}

.btn-primary,
.btn-secondary {
  border: none;
  background-color: #7CB441;
  color: #ffffff;
}

.btn-primary:hover,
.btn-secondary:hover {
  background-color: #91C45A;
  color: #ffffff;
  box-shadow: none;
  outline: none;
}

.btn-primary:active,
.btn-secondary:active {
  background-color: #4a5f2a !important;
}

.submit {
  width: 6rem;
  margin: 0 auto;
  position: absolute;
  bottom: 1rem;
  right: 7.25rem;
}

.submit,
.delete.add-card,
.delete_recipe {
  border: none;
  text-decoration: none;
  background-color: #E91547;
  color: #ffffff;
}

.submit:hover,
.delete:hover,
.delete_recipe:hover {
  background-color: #ed2154;
  color: #ffffff;
  box-shadow: none;
  outline: none;
}

.delete {
  float: left;
}
