.patients {
  text-align: center;
  color: #ffffff;
}

.patient-thumbnail {
  width: 150px;
  height: 150px;
  margin: 1rem auto;
  padding: 2px;
  border-radius: 50%;
}

.stats {
  display: flex;
  justify-content: space-between;
  }

.health-stats {
  display: inline;
  margin-bottom: 0;
  font-size: 1.10rem;
}
