
.bitmoji {
    width: 50px;
    height: auto;
}

.hermanos,
.copy {
    display: table;
    margin: 0 auto;
    text-align: center;
}

.icon {
    margin: 5px;
    color: white;
    text-align: center;
}

.footer {
    padding: 10px 0 0 10px;
    background-color: #185477;
    border-top: 3px solid #7CB441;
    color:white;
    font-size: 0.65rem;
    margin-top: 1rem;
  }
