/* FontAwesome for working BootSnippet :> */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#team {
  background: #eee !important;
}

section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: #7CB441;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.flip-card.flip .flip-card-front {
  transform: rotateY(180deg);
}

.flip-card-front {
  position: relative;
  box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.flip-card.flip .flip-card-back {
  transform: rotateY(0deg);
}

.flip-card-back {
  position: absolute;
  top: 1rem;
  left: 1.3rem;
  background: white;
  padding: 0.5rem;
  transform: rotateY(-180deg);
  box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.flip-card-front,
.flip-card-back {
  backface-visibility: hidden;
  transition: 1s;
  transform-style: preserve-3d;
}

.flip-card,
.flip-card .flip,
.flip-card-front,
.flip-card-back {
  height: 250px;
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
  border-radius: 0.35rem;
}

.card .text-center h4 {
  position: absolute;
  bottom: 30px;
  width: 100%;
  padding: 10px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #ffffff !important;
  text-align: center;
  background: rgba(25, 25, 25, 0.5);
  border: none;
  border-bottom: 0;
}

.card-title {
  text-align: center;
}

#recipe-name {
  color: black;
}

.card-button-wrapper {
  display: flex;
  justify-content: center;
}

.notes {
  margin: 10px;
}

.save-note {
  background-color: #2c3e50 !important;
}

.recipe-card-info {
  height: 115px;
  overflow-wrap: break-word;
}

.recipe-link {
  text-decoration: none;
  color: inherit;
}

.delete-note {
  line-height: 0.5;
  border: none;
  color: #ff1744;
  font-size: 30px;
  font-style: italic;
  float: right;
  background: transparent;
}

.arrow-back {
  z-index: 1;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  color: #7CB441;
}

.arrow-front {
  z-index: 1;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  color: white;
}
